body {
    background: url(template1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

@media (max-width: 768px) { /* Aplique estas regras para telas com largura máxima de 768px (um tamanho típico de celular) */
    body {
        background-size: contain; /* Use "contain" para que a imagem se ajuste ao tamanho da tela sem cortes */
        background-attachment: scroll; /* Remova a fixação da imagem de fundo para permitir a rolagem */
    }
}
 nav {
    background-color: #333;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: rgba(0,0,0, .6);
    }
    
    nav a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #ffffff; /* Cor do texto */
        font-size: 14px; /* Tamanho da fonte do texto */
        margin-right: 70px;
        padding: 6px;
        font-family:Arial;
        font: weight 100px;;
    }
    
    nav img {
        max-width: 40px; /* Tamanho máximo dos ícones */
        height: auto; /* Altura automática dos ícones para manter a proporção */
        margin-right: 0.1px; /* Espaçamento lateral entre os ícones */
    }
    
    nav a span {
        margin-top: 5px; /* Espaçamento entre o texto e a imagem */
    }
    .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 20px;
        background-color: rgba(0, 0, 0, .6);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        display: none; /* Oculta a div inicialmente */
    }
    
    #roteirizacaoForm.formulario {
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto; /* Centraliza horizontalmente */
    display: flex; /* Centraliza verticalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column; /* Alinha o conteúdo verticalmente no centro */
    margin-top: 45px;
    color: #ffffff;
    }   
    .form-item {
        margin-bottom: 5px;
    }
    
    .form-item label {
        display: block;
        font-weight: bold;
    }
    .form-item input,
    .form-item textarea {
        width: 80%;
        padding: 5px;
        border: 1px solid rgba(0,0,0, .6);
        border-radius: 5px;
    }
    .modelo-visita {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #ccc;
        padding: 5px;
        width: 80%;
    }
    .form-buttons {
        text-align: center;
        margin-top: 20px;
    }
    .red-button {
        background-color: red;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;
    }
    
    /* Estilo para o formulário de Agenda Gestores */
    #agendaGestoresForm.formulario { 
        background-position: center;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 10px;
        border-radius: 10px;
        width: 50%;
        margin: 0 auto; /* Centraliza horizontalmente */
        display: flex; /* Centraliza verticalmente */
        align-items: center; /* Centraliza verticalmente */
        flex-direction: column; /* Alinha o conteúdo verticalmente no centro */
        margin-top: 45px;
        color: #ffffff;
        }   
        .form-item {
            margin-bottom: 5px;
        }
        
        .form-item label {
            display: block;
            font-weight: bold;
        }
        .form-item input,
        .form-item textarea {
            width: 80%;
            padding: 5px;
            border: 1px solid rgba(0,0,0, .6);
            border-radius: 5px;
        }
        .modelo-visita {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #ccc;
            padding: 5px;
            width: 80%;
        }
        .form-buttons {
            text-align: center;
            margin-top: 20px;
        }
        .red-button {
            background-color: red;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 10px;
        }
    
    /* Estilo para o formulário de Mapa Clientes Polybalas */
    #mapaClientesForm.formulario {
        background-position: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto; /* Centraliza horizontalmente */
    display: flex; /* Centraliza verticalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column; /* Alinha o conteúdo verticalmente no centro */
    margin-top: 45px;
    color: #ffffff;
    }
    .mapa {
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 350px; /* Adjust the height as needed */
        background-color:  rgba(0,0,0, .6); /* Background color for clarity */
    }